<header class="header">
    
    <div>
        <img src="kisspng-nubank-credit-card-financial-crisis-of-200708-brazil-png-5b19b73c3f6738.9154852715284119642597.png">
    </div>

    <!-- <h1 class="header__title"> {{ title }}</h1> -->

    <ul class="nav-bar-list">
        <li>
            <a routerLink="home" routerLinkActive="ativado"> Home </a>
        </li>
        <li>
            <a routerLink="extrato" routerLinkActive="ativado"> Extrato </a>
        </li>
        <li>
            <a routerLink="login" routerLinkActive="ativado"> Login </a>
        </li>
    </ul>
</header>

<body class="body">
    
</body>
  