<!-- <h2 class="white"> Extrato </h2> -->

<br>
<div class="text-center" *ngIf="isLoading">
    <div class="spinner-border text-white" role="status">
      <span class="sr-only">Loading...</span>
    </div>
</div>


<div *ngIf="errorLoading">
    <h2> Deu erro =( </h2>
</div>

<div class="container" *ngIf="!isLoading && !errorLoading">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="color"> ID </th>
                <th class="color"> Data </th>
                <th class="color"> Description </th>
                <th class="color"> Value </th>
                <th class="color"> Category </th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions">
            <td class="color-second"> {{ transaction.id }} </td>
            <td class="color-second"> {{ transaction.data | date }} </td>
            <td class="color-second"> {{ transaction.descricao }} </td>
            <td class="color-second"> {{ transaction.valor | currency: 'BRL'}} </td>
            <td class="color-second"> {{ transaction.categoria }} </td>
        </tr>
    </tbody>
    
    </table>

    <br><br><br>

    <div class="text-center">

        <button  type="button" class="btn btn-secondary mr-5" (click)="backPage()" [disabled]="page === 1"> Back </button> 
        <button  type="button" class="btn btn-secondary mrl-5" (click)="nextPage()" [disabled]="page === 3"> Next </button>

        <br><br><br>

        <p class="white">   Page: {{ page }}  </p>

    </div>
</div>