.white {
    color: white;
    text-align: center
}

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }


  .login-form {
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    background-color: white;
    align-items: center;
    color: purple;
    width: 50%; /* Could be more or less, depending on screen size */
    
  }

  .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
  }

//   .ng-invalid.ng-touched {
//     border-color: red;
//   }