<div class="modal-content ">
        <form  #form="ngForm" (ngSubmit)="onSubimit(form)"  class="form-signin pt-5">
    
            <div class="p-2">
                <input 
                    type="email" 
                    class="form-control"
                    placeholder="Email"
                    name="email" 
                    [(ngModel)]="email" required email
                    [ngClass]="showError('email', form) ? 'is-invalid' : '' "  #emailInput>

                    <div *ngIf="showError('email', form)" 
                        class="invalid-feedback">
                            Invalid Email  
                    </div> 
            </div>
    
            <div class="p-2">
                <input 
                    type="password" 
                    class="form-control" 
                    placeholder="Password" 
                    name="password" 
                    [(ngModel)]="password" required
                    [ngClass]="showError('password', form) ? 'is-invalid' : '' "  #passwordInput>
                    
                    <div *ngIf="showError('password', form)" 
                        class="invalid-feedback">
                            Invalid Password  
                    </div> 
            </div>
    
          <div class="login-form">
            <button class="login-form" type="submit"> Login </button>
          </div>
        </form>
</div>