.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #695E93;
    color: white;
    text-align: center;
    padding: 1 rem;

    &__text {
        margin: 0;
    }
}